html,
body {
  margin: 0;
  padding: 0;
}

.title-card {
  text-align: center;
  padding: 0.5em;
  font-size: x-large;
  font-style: oblique;
}

.food-area {
  text-align: center;
}

input,
button {
  color: white;
  background-color: black;
}
img {
  height: 500px;
  width: 700px;
}
#title-area {
  padding-top: 2em;
  padding-left: 4em;
}
